@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    color-scheme: dark;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: #000000 !important;
  min-height: 100%;
}
html {
  scroll-behavior: smooth;
  background: #000000 !important;
  min-height: 100%;
}
::-webkit-scrollbar {
  display: none;
}
.ant-message {
  z-index: 9999; /* Increase if message is being overlapped */
}
/* .hero {
  background-image: url("/1.jpg") !important;
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
} */
